.emailList {
  flex: 1;
  overflow: scroll;
}

.emailList::-webkit-scrollbar {
  display: none;
}

.emailList__settings {
  top: 0;
  position: sticky;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  /* padding-right: 10px; */
  padding: 5px 10px;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}

.emailList__sections {
  top: 0;
  position: sticky;
  z-index: 999;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}

.emailList__list {
  padding-bottom: 20%;
}
