.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
}

.header__left {
  flex: 0.1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}

.header__left > img {
  object-fit: contain;
  /* height: 80px; */
  margin-left: 5px;
}

.header__middle {
  flex: 0.7;
  max-width: 60%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.header__middle > .MuiSvgIcon-root {
  color: gray;
}

.header__middle > input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.header__right {
  flex: 0.2;
  display: flex;
  align-items: center;
  /* padding-right: 20px; */
  margin: 0 20px;
  justify-content: space-evenly;
}
